language: rust
sudo: required
dist: trusty
rust: nightly

group: edge

matrix:
  include:
    - os: linux
      env: TARGET=armv5te-unknown-linux-gnueabi
      before_install:
        - sh ci/common_qemu.sh arm
#      install:
#        - rustup target add armv5te-unknown-linux-gnueabi
      script:
        - qemu-img create -f qcow2 mainstone1.img 64M
        - qemu-img create -f qcow2 mainstone2.img 64M
        - unxz -c ci/arm/initrd.xz > initrd
        - qemu-system-arm -kernel ci/arm/$TARGET/zImage -append 'console=ttyS0'
          -machine mainstone -pflash mainstone1.img -pflash mainstone2.img
          -initrd initrd -nographic #2>&1 | tee out.log
        #- grep "Boot took" out.log
