language: rust
sudo: required
dist: trusty
rust: nightly

group: edge

matrix:
  include:
    - os: linux
      env:
        - TARGET=armv5te-unknown-linux-gnueabi
        - ARCH=arm
        - GCC_VARIANT=arm-linux-gnueabi
      before_install: LIBC_VARIANT=armel sh -v ci/install_qemu_and_gcc.sh
      install:
        - rustup target add arm-unknown-linux-gnueabi
#        - rustup target add armv5te-unknown-linux-gnueabi
      script:
        - qemu-img create -f qcow2 mainstone1.img 64M
        - qemu-img create -f qcow2 mainstone2.img 64M
        - export QEMU_ARGS="-machine mainstone -pflash mainstone1.img
          -pflash mainstone2.img"
        - export RUSTC_TARGET=arm-unknown-linux-gnueabi
        - sh -v ci/test_in_qemu.sh
        - qemu-system-arm -kernel ci/$ARCH/$TARGET/zImage -initrd initrd
          -nographic -no-reboot -append 'console=ttyS0' $QEMU_ARGS #| tee out.log
        - cat out.log
        - grep "0 failed;" out.log
