language: rust
sudo: required
dist: trusty
rust: nightly

matrix:
  include:
    - os: linux
      env: TARGET=i686-unknown-linux-gnu
      before_install:
        - sudo apt-get install -y --no-install-recommends gcc-multilib libc6-dev
      install:
        - rustup target add $TARGET
      script: cargo test --verbose
    - os: osx
      env: TARGET=x86_64-apple-darwin
      script: cargo test --verbose
    - os: linux
      env: TARGET=x86_64-unknown-linux-gnu
      script: cargo test --verbose
