language: rust
sudo: required
dist: trusty
rust: nightly

group: edge

matrix:
  include:
    - os: linux
      env: TESTING_QEMU=arm
      before_install:
        - sudo apt-get install -y --no-install-recommends curl xz
        - curl http://download.qemu-project.org/qemu-2.9.0.tar.xz | tar xJf -
        - cd qemu-2.9.0
        - ./configure --help
        - ./configure --target-list=arm
        - time make -j4
        - sudo make install
      script:
        - qemu-system-arm --version
        - qemu-system-arm -M ?
        - qemu-system-arm -M none -cpu ?
